body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282c34;
}

header {
  text-align: center;
  color: #abb2bf;
  margin-top: 20px;
}

figure {
  border: 2px #abb2bf solid;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  max-width: 550px;
  margin: auto;
}
.headerImg {
  width: 100%;
}

main {
  display: grid;
  grid-area: 1fr 1fr 1fr;
  grid-template-areas: "a b c";
  justify-content: center;
  gap: 50px;
  margin-top: 35px;
}

main > div {
  transition: width 0.3s, height 0.3s, font-size 0.3s;
  border-radius: 6px;
}

main > div:hover {
  background-color: #e19ef5;
  width: 175px;
  height: 215px;
  cursor: pointer;
  font-size: 18px;
}

a > div {
  transition: width 0.3s, height 0.3s, font-size 0.3s;
  border-radius: 6px;
}

a > div:hover {
  background-color: #e19ef5;
  width: 175px;
  height: 215px;
  cursor: pointer;
  font-size: 18px;
}
.story {
  display: grid;
  grid-area: a;
  width: 150px;
  height: 200px;
  background-color: #c678dd;
  text-align: center;
}

.images {
  grid-area: b;
  display: grid;
  width: 150px;
  height: 200px;
  background-color: #c678dd;
  text-align: center;
}

.info {
  grid-area: c;
  display: grid;
  width: 150px;
  height: 200px;
  background-color: #c678dd;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
